<!DOCTYPE html>
<html>
<head>
  <title>Pimp My Stream Pierre Croce</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>♾️</text></svg>">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  <div id="app">
    <div class="main">
      <div class="container is-fluid columns">
        <div class="column activity">
          <h1 class="title is-4">Activités</h1>
          <ul class="activity-list">
            <li class="activity-item" v-for="item in events.slice(0, 100)" :key="item.asset_id">
              <!-- {{item}} -->
              <div class="" v-if="item.listener == 'OnChannelPoint'">
                {{item.event.data.redemption.user.display_name}}
                a récupéré :
                {{item.event.data.redemption.reward.title}}
                <br>
                <span class="tag">{{item.event.data.timestamp}}</span>
              </div>
              <div class="" v-else-if="item.listener == 'OnSEDonation'">
                <p>
                  {{item.event.data.name || item.event.data.username}}
                  a donné :
                  {{item.event.data.amount}} €
                </p>
                <p class="content is-small">{{item.event.data.message}}</p>

              </div>
              <div class="" v-else-if="item.listener == 'OnSLDonationNoSync'">
                <p>
                  {{item.event.user}}
                  a donné :
                  {{item.event.formatted}}
                </p>
                <p class="content is-small">{{item.event.message}}</p>

              </div>
              <div class="" v-else-if="item.listener == 'OnSLTwitchSubNoSync'">
                <p>
                  {{item.event.user}}
                  s'est abonné : {{item.event.tier}}
                </p>
                <p class="content is-small">{{item.event.message}}</p>

              </div>
              <div class="" v-else-if="item.listener == 'OnSLTwitchGiftSubNoSync'">
                <p>
                  {{item.event.gifter}}
                  offre un abonnement {{item.event.tier}} à : {{item.event.user}}
                </p>
              </div>
              <div class="" v-else-if="item.listener == 'OnSLTwitchBitsNoSync'">
                <p>
                  {{item.event.user}}
                  a donné : {{item.event.amount}} bits
                </p>
                <p class="content is-small">{{item.event.message}}</p>

              </div>
              <div v-else>
                {{item.listener}}
              </div>
            </li>
          </ul>
        </div>

        <div class="column is-three-quarters widget">
          <div class="container" v-if="widgetStreamboss">
            <h1 class="title is-4">StreamBoss</h1>
            <a target="_blank" :href="`/overlay/${user}/streamboss?secret=${secret}`">
              <span class="icon has-text-info">
                <i class="fas fa-link"></i>
              </span>
              Overlay</a>
            <br>
            <br>
            <button class="button" type="button" @click="reloadOverlays()">Rafraichire les overlays</button>
            <br>
            <br>
            <div class="content">
              <h1 class="title is-5">👑 StreamBoss: {{widgetStreamboss.boss.user}}</h1>
              <h1 class="title is-5">Leaderboard</h1>
              <ol type="1">
                <li v-for="viewer in viewers.slice(0, 5)" v-if="viewer.sessionPoints > 0">
                  {{ viewer.user }} - {{ viewer.sessionPoints }}pts
                </li>
              </ol>
            </div>
            <br>
            <button class="button is-warning" type="button" @click="resetBossCounter()">Réinitialiser progression</button>
            <br><br>
            <form v-on:submit.prevent="updateWidget('streamboss')">
              <table class="table is-bordered is-striped is-fullwidth">
                <tr>
                  <th>Objectif</th>
                  <th>Progression</th>
                  <th>Points par Abonné</th>
                  <th>Points par Don</th>
                  <th>Points par Bit</th>
                  <th>Points par Récompense de chaine</th>
                </tr>
                <tr>
                  <td><input type="number" step="any" v-model.number="widgetStreamboss.goal"></td>
                  <td><input type="number" step="any" v-model.number="widgetStreamboss.current"></td>
                  <td><input type="number" step="any" v-model.number="widgetStreamboss.subscriptionPoint"></td>
                  <td><input type="number" step="any" v-model.number="widgetStreamboss.donationPoint"></td>
                  <td><input type="number" step="any" v-model.number="widgetStreamboss.bitsPoint"></td>
                  <td><input type="number" step="any" v-model.number="widgetStreamboss.rewardPoint"></td>
                </tr>
              </table>

              <br>
              <button class="button is-primary" type="submit">Mettre à jour</button>
            </form>
          </div>
          <br>
          <br>
          <div class="content">
            <h1 class="title is-5">👑 Top StreamBoss</h1>
            <ol type="1">
              <li v-for="viewer in sortedBoss.slice(0, 10)" v-if="viewer.bossCount > 0">
                👑x{{ viewer.bossCount }} {{ viewer.user }} - {{ viewer.points }}pts
              </li>
            </ol>
          </div>
          <br>
          <div class="content">
            <h1 class="title is-5">StreamBoss History</h1>
            <ul>
              <li v-for="viewer in bossHistory.slice(0, 10)">
                👑{{ viewer.user }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


  </div>
</body>

<script>
  var socket = io();
  const adminSocket = io('/admin');
  var app = new Vue({
    el: '#app',
    data: {
      user: null,
      secret: null,
      widgetsData: [],
      widgetStreamboss: null,
      myWidget: null,
      resourcesGallery: [],
      events: [],
      viewers: [],
      bossHistory: []
    },
    created () {
      window.onbeforeunload = () => {
        socket.emit('leave', this.username);
      }

      socket.on('WIDGETS_DATA', (obj) => {
        console.log('WIDGETS_DATA', obj);
        this.widgetsData = obj;
        var data = this.getWigetData('streamboss');
        this.widgetStreamboss = data;

        this.bossHistory = data.bossHistory;
      });

      socket.on('EVENT_LIST', (obj) => {
        console.log('EVENT_LIST',obj);
        this.events = obj;
      });

      socket.on('VIEWERS_LIST', (obj) => {
        console.log('VIEWERS_LIST', obj);
        this.viewers = obj;
      });

    },
    mounted () {
      const urlParams = new URLSearchParams(window.location.search);
      const myParam = urlParams.get('secret');
      this.secret = myParam || null;

      const path = window.location.pathname;
      this.user = path.substring(1, path.lastIndexOf('/'));

    },

    computed: {
      sortedBoss: function () {
        return this.viewers.sort((a, b) => {
          if (a.bossCount == b.bossCount) {
            return b.points - a.points;
          }
          else {
            return b.bossCount - a.bossCount;
          }
        });
      }
    },

    methods: {
      updateWidget(widgetName) {
        socket.emit('UPDATE_WIDGET', this.getWigetData(widgetName));
      },

      resetBossCounter() {
        adminSocket.emit('RESET_STREAMBOSS', this.getWigetData('streamboss'));
      },

      reloadOverlays() {
        socket.emit('RELOAD_OVERLAYS');
      },

      getWigetData(name) {
        return this.widgetsData.find(elem => {
          return elem.name == name
        })
      }
    }
  })
</script>

<style lang="scss" scoped>
  #app {
    /* padding: 20px; */
    /* background-color: rgb(51, 51, 68); */
  }
  .users .table td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .activity {
    padding-bottom: 0;
    max-width: 340px;
  }

  .activity-list {
    max-height: calc(100vh - 63px);
    overflow: auto;
  }

    .activity-item {
      border-top: 2px solid #ddd;
      padding: 10px 0;
    }

  .content {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .container.is-fluid {
    margin: 0;
    padding: 0;
  }

  .widget {
    overflow: auto;
    height: 100vh;
  }
</style>

</html>