<!DOCTYPE html>
<html>
<head>
  <title>Pimp My Stream Pierre Croce</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>♾️</text></svg>">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  <div id="app">
    <div class="main">
      <div class="container is-fluid columns">
        <div class="column activity">
          <h1 class="title is-4">Activités</h1>
          <ul class="activity-list">
            <li class="activity-item" v-for="item in events.slice(0, 100)" :key="item.asset_id">
              <!-- {{item}} -->
              <div class="" v-if="item.listener == 'OnChannelPoint'">
                {{item.event.data.redemption.user.display_name}}
                a récupéré :
                {{item.event.data.redemption.reward.title}}
                <br>
                <span class="tag">{{item.event.data.timestamp}}</span>
              </div>
              <div class="" v-else-if="item.listener == 'OnSEDonation'">
                <p>
                  {{item.event.data.name || item.event.data.username}}
                  a donné :
                  {{item.event.data.amount}} €
                </p>
                <p class="content is-small">{{item.event.data.message}}</p>
                <span class="tag">{{item.createdAt}}</span>
              </div>
              <div class="" v-else-if="item.listener == 'OnSLDonationNoSync'">
                <p>
                  {{item.event.user}}
                  a donné :
                  {{item.event.formatted}}
                </p>
                <p class="content is-small">{{item.event.message}}</p>
                <span class="tag">{{item.createdAt}}</span>
              </div>
              <div class="" v-else-if="item.listener == 'OnSLTwitchSubNoSync'">
                <p>
                  {{item.event.user}}
                  s'est abonné : {{item.event.tier}}
                </p>
                <p class="content is-small">{{item.event.message}}</p>
                <span class="tag">{{item.createdAt}}</span>
              </div>
              <div class="" v-else-if="item.listener == 'OnSLTwitchGiftSubNoSync'">
                <p>
                  {{item.event.gifter}}
                  offre un abonnement {{item.event.tier}} à : {{item.event.user}}
                </p>
                <span class="tag">{{item.createdAt}}</span>
              </div>
              <div class="" v-else-if="item.listener == 'OnSLTwitchBitsNoSync'">
                <p>
                  {{item.event.user}}
                  a donné : {{item.event.amount}} bits
                </p>
                <p class="content is-small">{{item.event.message}}</p>
                <span class="tag">{{item.createdAt}}</span>
              </div>
              <div v-else>
                {{item.listener}}
              </div>
            </li>
          </ul>
        </div>

        <div class="column is-three-quarters widget">
          <div class="container" v-if="widgetCrossket">
            <h1 class="title is-4">🏀 Basket</h1>
            <a target="_blank" :href="`/overlay/${user}/dunk?secret=${secret}`">
              <span class="icon has-text-info">
                <i class="fas fa-link"></i>
              </span>
              Overlay</a>
            <br>
            <br>
            <button class="button" type="button" @click="reloadOverlays()">Rafraichir les overlays</button>
            <br>
            <br>
            <!-- <div class="content">
              <h6 class="title is-6">Total Paniers réussis: {{widgetCrossket.allTimeSuccess}}</h6>
            </div> -->
            <button class="button is-warning" type="button" @click="resetCrossketCurrent()">Réinitialiser compteur</button>
            <button class="button" type="button" @click="addOneDunk()">+1 panier réussi</button>
            <button class="button" type="button" @click="addOneFailDunk()">+1 panier raté</button>
            <br><br>
            <form v-on:submit.prevent="updateWidget('crossket')">
              <table class="table is-bordered is-striped">
                <tr>
                  <th>Paniers réussis</th>
                  <th>Paniers ratés</th>
                </tr>
                <tr>
                  <td><input type="number" v-model.number="widgetCrossket.currentSuccess"></td>
                  <td><input type="number" v-model.number="widgetCrossket.currentFail"></td>
                </tr>
              </table>
              <button class="button is-primary" type="submit">Mettre à jour</button>
            </form>
          </div>
          <br>
          <hr class="hr">
          <div class="container" v-if="widgetStreamboss">
            <h1 class="title is-4">👑 Crossos Boss</h1>
            <a target="_blank" :href="`/overlay/${user}/streamboss?secret=${secret}`">
              <span class="icon has-text-info">
                <i class="fas fa-link"></i>
              </span>
              Overlay</a>
            <br>
            <br>
            <button class="button" type="button" @click="reloadOverlays()">Rafraichir les overlays</button>
            <br>
            <br>
            <div class="content">
              <h1 class="title is-5">👑 Crossos Boss: {{widgetStreamboss.boss.user}}</h1>
              <h1 class="title is-5">Leaderboard</h1>
              <ol type="1">
                <li v-for="viewer in viewers.slice(0, 5)" v-if="viewer.sessionPoints > 0">
                  {{ viewer.user }} - {{ viewer.sessionPoints }}pts
                </li>
              </ol>
            </div>
            <br>
            <button class="button is-warning" type="button" @click="resetBossCounter()">Réinitialiser progression</button>
            <button class="button is-warning" type="button" @click="resetCurrentBoss()">Retirer Crossos Boss actuel</button>
            <br><br>
            <form v-on:submit.prevent="updateWidget('streamboss')">
              <table class="table is-bordered is-striped is-fullwidth">
                <tr>
                  <th>Objectif</th>
                  <th>Progression</th>
                  <th>Points par Abonné</th>
                  <th>Points par Don</th>
                  <th>Points par Bit</th>
                  <th>Points par Récompense de chaine</th>
                </tr>
                <tr>
                  <td><input type="number" step="any" v-model.number="widgetStreamboss.goal"></td>
                  <td><input type="number" step="any" v-model.number="widgetStreamboss.current"></td>
                  <td><input type="number" step="any" v-model.number="widgetStreamboss.subscriptionPoint"></td>
                  <td><input type="number" step="any" v-model.number="widgetStreamboss.donationPoint"></td>
                  <td><input type="number" step="any" v-model.number="widgetStreamboss.bitsPoint"></td>
                  <td><input type="number" step="any" v-model.number="widgetStreamboss.rewardPoint"></td>
                </tr>
              </table>

              <br>
              <button class="button is-primary" type="submit">Mettre à jour</button>
            </form>
          </div>
          <br>
          <br>
          <div class="content">
            <h1 class="title is-5">Tableau de bord</h1>
            <div class="notification">
              <div class="columns">
                <div class="column">
                  <p class="subtitle">{{allTimeStats.total_events}}</p>
                  <div class="content">Intéractions</div>
                </div>
                <div class="column">
                  <p class="subtitle">{{allTimeStats.cp_reward}}</p>
                  <div class="content">Récompenses</div>
                </div>
                <div class="column">
                  <p class="subtitle">{{allTimeStats.total_donation ? allTimeStats.total_donation.toFixed(2) : 0}} €</p>
                  <div class="content">{{allTimeStats.donation}} Dons</div>
                </div>
                <div class="column">
                  <p class="subtitle">{{allTimeStats.sub}}</p>
                  <div class="content">Abonnements</div>
                </div>
                <div class="column">
                  <p class="subtitle">{{allTimeStats.bits}}</p>
                  <div class="content">Bits</div>
                </div>
                <div class="column">
                  <p class="subtitle">~{{allTimeStats.total ? allTimeStats.total.toFixed(2) : 0}} €</p>
                  <div class="content">Total Brut</div>
                </div>
              </div>
            </div>
            <div class="notification stats-block">
              <div class="" v-for="stat in stats" v-if="">
                <div class="columns">
                  <div class="column">
                    {{new Date(stat.date).toLocaleDateString('fr-FR')}}
                  </div>
                  <div class="column">
                    <p class="subtitle is-6">{{stat.total_events}}</p>
                    <div class="content is-small">Intéractions</div>
                  </div>
                  <div class="column">
                    <p class="subtitle is-6">{{stat.cp_reward}}</p>
                    <div class="content is-small">Récompenses</div>
                  </div>
                  <div class="column">
                    <p class="subtitle is-6">{{stat.total_donation ? stat.total_donation.toFixed(2) : 0}} €</p>
                    <div class="content is-small">{{stat.donation}} Dons</div>
                  </div>
                  <div class="column">
                    <p class="subtitle is-6">{{stat.sub}}</p>
                    <div class="content is-small">Abonnements</div>
                  </div>
                  <div class="column">
                    <p class="subtitle is-6">{{stat.bits}}</p>
                    <div class="content is-small">Bits</div>
                  </div>
                  <div class="column">
                    <p class="subtitle is-6">~{{stat.total ? stat.total.toFixed(2) : 0}} €</p>
                    <div class="content is-small">Total Brut</div>
                  </div>
                </div>
                <hr class="hr" style="background-color: white; margin-top: 10px;">
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="content">
            <h1 class="title is-5">👑 Top Crossos Boss</h1>
            <ol type="1">
              <li v-for="viewer in sortedBoss.slice(0, 10)" v-if="viewer.bossCount > 0">
                👑x{{ viewer.bossCount }} {{ viewer.user }} - {{ viewer.points }}pts
              </li>
            </ol>
          </div>
          <br>
          <div class="content">
            <h1 class="title is-5">Crossos Boss History</h1>
            <ul>
              <li v-for="viewer in bossHistory.slice(0, 10)">
                👑{{ viewer.user }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


  </div>
</body>

<script>
  var socket = io();
  const adminSocket = io('/admin');
  var app = new Vue({
    el: '#app',
    data: {
      user: null,
      secret: null,
      widgetsData: [],
      widgetStreamboss: null,
      widgetCrossket: null,
      myWidget: null,
      resourcesGallery: [],
      events: [],
      viewers: [],
      bossHistory: [],
      stats: {},
      allTimeStats: {}
    },
    created () {
      window.onbeforeunload = () => {
        socket.emit('leave', this.username);
      }

      socket.on('WIDGETS_DATA', (obj) => {
        console.log('WIDGETS_DATA', obj);
        this.widgetsData = obj;
        var data = this.getWigetData('streamboss');
        this.widgetStreamboss = data;

        this.widgetCrossket = this.getWigetData('crossket');

        this.bossHistory = data.bossHistory;
      });

      socket.on('EVENT_LIST', (obj) => {
        console.log('EVENT_LIST',obj);
        this.events = obj;
        this.stats = {};
        this.allTimeStats = {
          total: 0,
          donation: 0,
          total_donation: 0,
          sub: 0,
          total_sub: 0,
          bits: 0,
          total_bits: 0,
          bits_events: 0,
          cp_reward: 0,
          total_events: 0
        };
        for (const key in obj) {
          let event = obj[key];
          if (event.createdAt) {
            let date = event.createdAt.split('T')[0];
            if (new Date(date) >= new Date("2020-09-17")) {
              if (!this.stats[date]) {
                this.stats[date] = {
                  date: date,
                  total: 0,
                  donation: 0,
                  total_donation: 0,
                  sub: 0,
                  total_sub: 0,
                  bits: 0,
                  total_bits: 0,
                  bits_events: 0,
                  cp_reward: 0,
                  total_events: 0
                };
              }
              this.stats[date].total_events += 1;

              if (event.listener == "OnSEDonation" || event.listener == "OnSLDonationNoSync") {
                //console.log("OnSEDonation", event.event);
                var amount = parseInt(event.event.amount);
                this.stats[date].donation += 1;
                this.stats[date].total_donation += amount || 0;
                this.stats[date].total += amount || 0;
              }
              if (event.listener == "OnSLTwitchSubNoSync") {
                //console.log("OnSLTwitchSubNoSync", event.event);
                this.stats[date].sub += 1;
                let amount = this.getSubPlanAmount(parseInt(event.event.data.sub_plan) / 1000);
                this.stats[date].total_sub += amount;
                this.stats[date].total += amount;
              }
              if (event.listener == "OnSLTwitchGiftSubNoSync") {
                //console.log("OnSLTwitchGiftSubNoSync", event.event);
                let amount = this.getSubPlanAmount(parseInt(event.event.data.sub_plan) / 1000);
                this.stats[date].sub += 1;
                this.stats[date].total_sub += amount;
                this.stats[date].total += amount;
              }
              if (event.listener == "OnSLTwitchBitsNoSync") {
                // console.log("OnSLTwitchBitsNoSync", event.event);
                var amount = this.getBitsAmount(event.event.amount);
                this.stats[date].bits += parseInt(event.event.amount);
                this.stats[date].total_bits += amount;
                this.stats[date].total += amount;
                this.stats[date].bits_events += 1;
              }
              if (event.listener == "OnChannelPoint") {
                //console.log("OnChannelPoint", event.event);
                this.stats[date].cp_reward += 1;
              }
            }
          }
        }
        for (const key in this.stats) {
          let entrie = this.stats[key];
          this.allTimeStats.total += entrie.total;
          this.allTimeStats.donation += entrie.donation;
          this.allTimeStats.total_donation += entrie.total_donation;
          this.allTimeStats.sub += entrie.sub;
          this.allTimeStats.total_sub += entrie.total_sub;
          this.allTimeStats.bits += entrie.bits;
          this.allTimeStats.total_bits += entrie.total_bits;
          this.allTimeStats.bits_events += entrie.bits_events;
          this.allTimeStats.total_events += entrie.total_events;
          this.allTimeStats.cp_reward += entrie.cp_reward;
        }
        console.log('STATS', this.stats);
        console.log('ALL TIME STATS', this.allTimeStats);
      });

      socket.on('VIEWERS_LIST', (obj) => {
        console.log('VIEWERS_LIST', obj);
        this.viewers = obj;
      });

    },
    mounted () {
      const urlParams = new URLSearchParams(window.location.search);
      const myParam = urlParams.get('secret');
      this.secret = myParam || null;

      const path = window.location.pathname;
      this.user = path.substring(1, path.lastIndexOf('/'));

    },

    computed: {
      sortedBoss: function () {
        return [...this.viewers].sort((a, b) => {
          if (a.bossCount == b.bossCount) {
            return b.points - a.points;
          }
          else {
            return b.bossCount - a.bossCount;
          }
        });
      }
    },

    methods: {
      updateWidget(widgetName) {
        socket.emit('UPDATE_WIDGET', this.getWigetData(widgetName));
      },

      resetBossCounter() {
        adminSocket.emit('RESET_STREAMBOSS', this.getWigetData('streamboss'));
      },

      resetCurrentBoss() {
        this.widgetStreamboss.current = 0;
        this.widgetStreamboss.boss = {};
        socket.emit('UPDATE_WIDGET', this.widgetStreamboss);
      },

      resetCrossketCurrent() {
        this.widgetCrossket.currentSuccess = 0;
        this.widgetCrossket.currentFail = 0;
        socket.emit('UPDATE_WIDGET', this.widgetCrossket);
      },

      addOneDunk() {
        this.widgetCrossket.currentSuccess += 1;
        this.widgetCrossket.allTimeSuccess += 1;
        socket.emit('UPDATE_WIDGET', this.widgetCrossket);
      },

      addOneFailDunk() {
        this.widgetCrossket.currentFail += 1;
        this.widgetCrossket.allTimeFail += 1;
        socket.emit('UPDATE_WIDGET', this.widgetCrossket);
      },

      reloadOverlays() {
        socket.emit('RELOAD_OVERLAYS');
      },

      getWigetData(name) {
        return this.widgetsData.find(elem => {
          return elem.name == name
        })
      },

      getSubPlanAmount(plan) {
        let amount = 4.99;
        if (plan == 2) {
          amount = 9.99
        }
        else if (plan == 3) {
          amount = 24.99
        }
        return amount;
      },

      getBitsAmount(bits) {
        return parseInt(bits) * 0.014;
      }
    }
  })
</script>

<style lang="scss" scoped>
  #app {
    /* padding: 20px; */
    /* background-color: rgb(51, 51, 68); */
  }
  .users .table td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .activity {
    padding-bottom: 0;
    max-width: 340px;
  }

  .activity-list {
    max-height: calc(100vh - 63px);
    overflow: auto;
  }

    .activity-item {
      border-top: 2px solid #ddd;
      padding: 10px 0;
    }

    .activity-item .content {
      margin-bottom: 0;
    }

  .content {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .container.is-fluid {
    margin: 0;
    padding: 0;
  }

  .widget {
    overflow: auto;
    height: 100vh;
  }

  .stats-block {
    max-height: 330px;
    overflow-y: auto;
  }
</style>

</html>